{% extends 'base.html' %}

{% block title %}
    Категория: {{ category.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between my-3 align-items-center">
            <div>
                <a href="#">По просмотрам</a>
                <a href="#">По дате создания</a>
                <a href="#">По алфавиту</a>
            </div>
            <form action="" class="d-flex">
                <input type="text" class="form-control me-4"
                       placeholder="Найти в категории {{ category.name }}">
                <button class="btn btn-dark">
                    Найти
                </button>
            </form>
        </div>
        <div class="row row-gap-4">
            {% for todos in todo %}
                <div class="col-3">
                    {% include 'components/_card-item.html' %}
                </div>
            {% empty %}
                <h2 class="text-center">Нет задач</h2>
            {% endfor %}

        </div>
    </div>
{% endblock %}