{% load blog_app_tags %}

{% get_categories as categories %}
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Django</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% include 'components/_dropdowns.html' %}
            </ul>

            <div class="d-flex gap-3">

                <a href="#" class="btn btn-success">Войти</a>

                <a href="#" class="btn btn-warning">Регистрация</a>

                <a href="#" class="btn btn-danger">Выйти</a>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

            </div>

        </div>
    </div>
</nav>




